<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Taeum</title>


<link
	href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<link
	href="https://getbootstrap.com/docs/5.3/examples/sidebars/sidebars.css"
	rel="stylesheet">
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c49835d1348562532a0d8a13f2f7bf3"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
	
	<title>노드 할당</title>
	<link rel="stylesheet" href="css/style.css">

<script type="text/javascript">
$(function() {
    const msg = /*[[${msg}]]*/null;
    console.log(msg);
    if (msg != null) {
      alert(msg);
    }
  });
  </script>
	 <th:block th:insert="~{fragments :: header}"  style = "z-index : 9999"/>
	</head>
	<body>

<main class="d-flex flex-nowrap" ;>
	<div
		class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary border border-r-1"
		style="width: 380px;">
		<div
			class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none">
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
				fill="#4ae39c" viewBox="0 0 256 256" class="me-2">
       <path
					d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" fill="#3F7EFC"></path>
     </svg>
			<span class="fs-5 fw-semibold">경로 최적화 결과</span>
			<button id="undoButton" class="btn btn-success"
                style="margin-left: 75px; top: 15px; right: 20px; z-index: 1030; background-color: #3F7EFC;">초 기 화</button>
		</div>
		<div
			class="d-flex flex-wrap py-3 px-2 gap-3 align-items-center justify-content-center border-bottom">
			<div class="d-flex flex-column align-items-center">
				<div id="totalVisit">0곳</div>
				<div class="fw-light" style="font-size: .75rem">경유지</div>
			</div>
			<div class="border-start border-2 h-50"></div>
			<div class="d-flex flex-column align-items-center">
				<div id="totalDistance">0km</div>
				<div class="fw-light" style="font-size: .75rem">이동거리</div>
			</div>
			<div class="border-start border-2 h-50"></div>
			<div class="d-flex flex-column align-items-center">
				<div id="totalDuration">0분</div>
			
				<div class="fw-light" style="font-size: .75rem">이동시간</div>
			</div>
		</div>

		<div class="list-group scrollarea px-3 flex-grow-1" id="nodeList">
		<div>
		<span class = "fs-5 fw-semibold" > 할당 지역 :</span>
		  <span type="text" class="fs-5 fw-semibold"  th:text="${dr_AREA}"></span>
		  <br>
		  <span class = "fs-5 fw-semibold" > 선택 날짜 :</span>
		  <span type="text" class="fs-5 fw-semibold"  th:text="${d_DATE}"></span>
		</div>
		<div th:if="${!nodeList.isEmpty()}">
			<div th:each="node, count : ${nodeList}" class="abc">

				<th:block th:if="${node.kind == 1 && (node.status == '2' || node.status == null)}">
					<a href="#" id="bechaList"
						class="list-group-item list-group-item-action py-3 lh-sm mt-3 border rounded-2">
						<div
							class="d-flex w-100 align-items-center justify-content-start mb-1">
							<span class="badge text-bg-secondary"> <th:block
									th:if="${node.kind == 1}">출발</th:block>

							</span> <strong class="ms-1" th:text="${node.address}"></strong> 
							<span  id="onOff" hidden>off</span> 
								<input type="hidden" th:value="${node.node_id}" id="node_id">
								
								<div>
								  <span th:text="${node.cycle}" hidden></span>
								</div>
						</div>
						<div class="mt-3 small">
							<div class="d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center">
									<span
										class="badge text-bg-light border border-secondary-subtle me-2">신청자</span>
									<span id="M_NAME" th:text="${node.m_NAME}"></span>
									<span class="node_mid"  th:text="${node.m_ID}" hidden></span>
								</div>
								<div class="d-flex align-items-center">
									<span
										class="badge text-bg-light border border-secondary-subtle me-2">전화번호</span>
									<span th:text="${node.node_id}" id="bechaList" hidden></span>
									<span  id="M_PHONE" th:text="${node.m_PHONE}"></span>  <span
										 class="ride" th:text="${node.kind}" hidden></span>
								</div>
								<div class="d-flex align-items-center"></div>

							</div>
							 <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center" style="margin-top: 20px;">
                  <span
                    class="badge text-bg-light border border-secondary-subtle me-2">탑승자</span>
                  <span id="A_CONTETNS" th:text="${node.a_NAME}"></span> <span
                    class="ride" th:text="${node.kind}" hidden></span>
                </div>
                 <div class="d-flex align-items-center" style="margin-top: 20px;">
                  <span
                    class="badge text-bg-light border border-secondary-subtle me-2">탑승시간</span>
                  <span id="A_CONTETNS" th:text="${node.a_DATE}"></span> <span
                    class="ride" th:text="${node.kind}" hidden></span>
                </div>
                  </div>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                  <span
                    class="badge text-bg-light border border-secondary-subtle me-2">특이사항</span>
                  <span id="A_CONTETNS" th:text="${node.a_CONTENTS}"></span> <span
                    class="ride" th:text="${node.kind}" hidden></span>
                </div>


						</div>
					</a>
				</th:block>
		
				</div>
			</div>
		</div>
<div class="d-flex align-items-center justify-content-center p-3">
  <form id="deliveryForm" action="updateDelivery" method="post">
    <img  src="images/marker.png" style="width: 20px; heigth: 20px; margin-left: 65px; "><span style="margin-right: 50px;"> : 승차지 </span>
    <img  src="images/pngwing.png" style="width: 20px; heigth: 20px;"><span> : 하차지</span>
       <select class="btn btn-success"
      style="width: 180px; height: 38px; background-color: #3F7EFC; margin-left:px; margin-bottom: -80px;"
      id="cycle" >
      <option value="1">1차 배정</option>
      <option value="2">2차 배정</option>
      <option value="3">3차 배정</option>
    </select> 
    
    <button type="button" class="btn btn-success"
      style="width: 150px; background-color: #3F7EFC;  margin-bottom: -32.5px; margin-left:195px; " 
      onclick="send()" >전 송</button>

    <input type="hidden" name="filed_m_id" value="" class="btn btn-success"
      style="position: fixed; top: px; right: 300px; z-index: 1030;">
    
  
  </form>
</div>
		<div class="d-flex align-items-center justify-content-center p-3">
			<button type="button" class="btn btn-dark w-100" onclick="goVrp()" style="background-color: #3F7EFC;">경로 최적화</button>
		</div>
	</div>



	<div id="map" class="w-100" style="z-index: 0;">
	<div
		class="w-100 h-100 fixed-top justify-content-center align-items-center bg-opacity-10 bg-success"
		id="spin" style="display: none;">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	
	
	</div>


	



  


</main>
<script th:inline="javascript">
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
mapOption = {
   center: new kakao.maps.LatLng(37.4845117, 126.694807), // 지도의 중심좌표(인천일보아카데미)
   level: 8 // 지도의 확대 레벨
};
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

window.onload = function() {
	var nList = /*[[${nList}]]*/ null;

	//redCircle 이미지 요소 가져오기
	var redCircle = document.getElementById('redCircle');

	// nList 값이 존재하면 redCircle 이미지 표시
	if (nList && nList.length > 0) {
	    redCircle.style.display = 'inline'; // redCircle 이미지 표시
	} else {
	    redCircle.style.display = 'none'; // redCircle 이미지 숨김
	}
	 };



function spinOn() {
     $("#spin").addClass("d-flex");
   }
   function spinOff() {
     $("#spin").removeClass("d-flex");
   }
 //"Undo" 버튼의 클릭 이벤트 핸들러를 설정하여 페이지를 새로고침
   document.getElementById('undoButton').addEventListener('click', function() {
       location.reload();
   });

// 각 링크에 클릭 이벤트를 추가합니다.
   var links = document.querySelectorAll('.list-group-item-action');
   links.forEach(function(link) {
       link.addEventListener('click', function() {
           
           toggleOnOff(link);
       });
   });

   
 
    
  
   
   function send() {
       // 선택한 m_id들을 서버로 전송하는 로직을 추가하세요.
       // 여기서는 폼을 서버로 전송하는 것으로 대체합니다.
     var deliveryForm = document.getElementById("deliveryForm");
    var filedMIdInput = document.getElementsByName("filed_m_id")[0]; // 인풋 태그를 가져옵니다.
    var mIdValue = filedMIdInput.value; // m_id 값을 가져옵니다.
    var cycle = document.getElementById('cycle').value;
    var selectedDriver = [[${drID}]];
    var currentTime = new Date(); // 현재 시간을 가져옵니다.
 // 현재 페이지 URL 가져오기
    const currentUrl = window.location.href;

    // URL에서 파라미터 부분만 추출
    const queryString = currentUrl.split('?')[1];

    // 추출한 파라미터를 &로 나누어 배열로 변환
    const queryParamsArray = queryString.split('&');

    // 파라미터를 담을 객체 생성
    const queryParams = {};

    // 각 파라미터를 key-value 쌍으로 분리하여 객체에 추가
    queryParamsArray.forEach(param => {
        const [key, value] = param.split('=');
        queryParams[key] = decodeURIComponent(value); // URL 디코딩
    });
 // selectDate 파라미터 값에서 # 제거
    const selectDateWithoutHash = queryParams.selectDate.replace('#', '');
    console.log(selectDateWithoutHash);
    // selectDate 파라미터 값 출력

    
 // 년도, 월, 일
    var year = currentTime.getFullYear();
    var month = ('0' + (currentTime.getMonth() + 1)).slice(-2); // 월은 0부터 시작하므로 +1 필요
    var day = ('0' + currentTime.getDate()).slice(-2);

    // 시간, 분, 초
    var hours = ('0' + currentTime.getHours()).slice(-2);
    var minutes = ('0' + currentTime.getMinutes()).slice(-2);
    var seconds = ('0' + currentTime.getSeconds()).slice(-2);

    // 형식 지정
    var formattedTime = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
   console.log("mIdValue = " + mIdValue);
    
    if(mIdValue != ""){
    	$.ajax({
            url: deliveryForm.action,
            method: deliveryForm.method,
            data: {
                ride: selectedDriver, // ride 파라미터에 적절한 값을 입력하세요.
                node_id: mIdValue,
                cycle : cycle,
                dateTime : formattedTime,
                selectedTime : selectDateWithoutHash
            },
            success: function(response) {
                // 요청이 성공적으로 처리된 경우 실행할 코드를 작성하세요.
            alert(response);
            location.reload();
            },
            error: function(xhr, status, error) {
                // 요청이 실패한 경우 실행할 코드를 작성하세요.\
              alert("에러");
            }
        });
    }else{
    	alert("경로를 먼저 선정해 주시길 바랍니다.");
    }
    
    
}
   
   
   // onOff 요소를 토글하는 함수
   function toggleOnOff(link) {
	   var nodeId = link.querySelector('#node_id').value; // 클릭된 요소 내의 숨겨진 입력 필드에서 노드의 ID를 가져옵니다.
       var nodeMId = link.querySelector('.node_mid').textContent.trim(); // 클릭된 요소 내의 'm_id'를 가져옵니다.
       var node = findNodeById(nodeId); // 해당하는 노드를 찾습니다.
       var onOffElement = link.querySelector('#onOff'); // 클릭된 요소 내에서 on/off 요소를 찾습니다.
       if (nodeMId && node.kind === 1) {
       if (onOffElement.textContent.trim() === 'off') {
           onOffElement.textContent = 'on';
           addMarker(node);
           addConnectedMarker(nodeMId, nodeId);
           link.style.backgroundColor = 'lightgrey'; // 배경색을 회색으로 변경
           /* selectedMIds.push(nodeId); // 배열에 선택한 m_id를 추가합니다.
           updateMIdInput(selectedMIds.join(', ')); */
         
           // 배열에 있는 m_id들을 인풋 태그에 업데이트합니다.
           }else {
               onOffElement.textContent = 'off';
               removeConnectedMarker(nodeMId, nodeId);
               removeMarker(node);
                var index = selectedMIds.indexOf(nodeId);
               if (index !== -1) {
                   selectedMIds.splice(index, 1); // 배열에서 해당 m_id를 제거합니다.
                   updateMIdInput(selectedMIds.join(', '));
                   link.style.backgroundColor = 'white';
                   // 배열에 있는 m_id들을 인풋 태그에 업데이트합니다.
               } 
           }
       } 
   }

   var selectedMIds = []; // 선택한 m_id들을 저장할 배열
   
// m_id를 인풋 태그에 업데이트하는 함수
   function updateMIdInput(mId) {
       var filedMIdInput = document.getElementsByName("filed_m_id")[0]; // 인풋 태그를 가져옵니다.
       filedMIdInput.value = mId; // m_id 값을 업데이트합니다.
   }
   
   
   // 마커를 토글하는 함수
   function toggleMarker(node) {
	  
       var marker = markers[node.node_id]; // 해당 노드에 대한 마커를 가져옵니다.
       if (marker) {
           // 이미 마커가 추가되었으면 삭제합니다.
           marker.setMap(null);
           delete markers[node.node_id]; // 마커를 markers 객체에서 제거합니다.
           delete NODE_MAP[node.node_id];
       } else {
           // 마커가 추가되지 않았으면 추가합니다.
           addMarker(node);
           NODE_MAP[node.node_id] = node;
       }
   }
   
   var nodeList = /*[[${nodeList}]]*/ null;
   console.log("nodeList = ", nodeList);
   

   function findNodeById(nodeId) {
       for (const node of nodeList) {
    	
           if (parseInt(node.node_id) === parseInt(nodeId)) {
        	  
               return node; // 해당하는 ID를 가진 노드를 찾으면 반환합니다.
           }
       }
       return null; // 해당하는 ID를 가진 노드가 없으면 null을 반환합니다.
   }
   
// 해당하는 노드의 마커를 추가하는 함수
   function addMarker(node) {
       var markerPosition = new kakao.maps.LatLng(node.y, node.x); // 해당하는 노드의 위치
       var marker;

       if (node.kind === 2) {
           // node.kind가 2인 경우 이미지를 사용하여 마커 생성
           var markerImage = new kakao.maps.MarkerImage(
               'images/pngwing.png', // 사용할 이미지의 URL을 넣어주세요
               new kakao.maps.Size(27, 42),
               {offset: new kakao.maps.Point(15, 40)}
           );

           marker = new kakao.maps.Marker({
               position: markerPosition,
               image: markerImage // 사용자 지정 이미지를 마커에 설정
           });
       } else {
           // node.kind가 1이거나 다른 경우 카카오 지도에서 제공하는 디폴트 마커 사용
           marker = new kakao.maps.Marker({
               position: markerPosition
           });
       }

       marker.setMap(map); // 마커를 지도에 추가합니다.
       markers[node.node_id] = marker; // 마커를 markers 객체에 저장합니다.
       NODE_MAP[node.node_id] = node;
   }
   // 해당하는 노드의 마커를 제거하는 함수
   function removeMarker(node) {
	  
       var marker = markers[node.node_id]; // 해당 노드에 대한 마커를 가져옵니다.
     
       if (marker) {
           // 마커가 추가되었으면 삭제합니다.
      
           marker.setMap(null);
           delete markers[node.node_id]; // 마커를 markers 객체에서 제거합니다.
           delete NODE_MAP[node.node_id];
           
       }
   }
// 클릭된 항목의 'm_id'와 같은 kind가 2인 노드의 마커를 추가하는 함수
   function addConnectedMarker(nodeMId, nodeId) {
 
	   selectedMIds.push(nodeId); // 배열에 선택한 m_id를 추가합니다.
       updateMIdInput(selectedMIds.join(', ')); 
         
       
        
       // nodeList에서 'm_id'가 nodeMId인 노드들을 찾습니다.
       const connectedNodes = nodeList.filter(node => parseInt(node.m_ID) === parseInt(nodeMId) && parseInt(node.kind) === 2
    		   &&  parseInt(node.node_id) === parseInt(nodeId) + 1);
       // 찾은 노드들의 마커를 추가합니다.
       connectedNodes.forEach(node => {
           console.log("addConnectedMarker 통과 = " + node);
           addMarker(node); 
           NODE_MAP[node.node_id] = node;
           
           selectedMIds.push(node.node_id); // 배열에 선택한 m_id를 추가합니다.
           updateMIdInput(selectedMIds.join(', ')); 
       });
   }
   
   function addConnectedNodeId(nodeMId) {}
   
// 클릭된 항목의 'm_id'와 같은 kind가 2인 노드의 마커를 제거하는 함수
   function removeConnectedMarker(nodeMId, nodeId) {
       // nodeList에서 'm_id'가 nodeMId이고 kind가 2인 노드들을 찾습니다.
       const connectedNodes = nodeList.filter(node => parseInt(node.m_ID) === parseInt(nodeMId)  && parseInt(node.kind) === 2
    		   && parseInt(node.node_id) === parseInt(nodeId) + 1);
       const id = connectedNodes.map(node => node.node_id); // 선택된 노드들의 id 배열
       // 찾은 노드들의 마커를 제거합니다.
       id.forEach(nodeId => {
           const node = findNodeById(nodeId); // 노드 ID로 노드를 가져옵니다.
           if (node) {
               removeMarker(node); // 해당 노드의 마커를 제거합니다.
           }
       });

       // 선택된 노드들의 ID를 selectedMIds 배열에서 제거합니다.
       id.forEach(nodeId => {
           const index = selectedMIds.indexOf(nodeId);
           console.log("index = " + index);
           if (index !== -1) {
               selectedMIds.splice(index, 1);
           }
       });

       // 인풋 태그에 선택된 m_id들을 업데이트합니다.
       updateMIdInput(selectedMIds.join(', '));
   }

  
   // 각 노드에 대한 마커를 저장하기 위한 객체
   var markers = {};
   
   



//ajax 응답 받은 데이터로 화면에 그리기.
 const NODE_MAP = {}; 
const MARKER_MAP = {};
const INFO_MAP = {};


function displayData(data) {
  
  
  const totalDistance = data.totalDistance;// 전체이동거리(미터)
  const totalDuration = data.totalDuration;// 전체이동시간(초)
  const totalPathPointList = data.totalPathPointList;// // 전체이동경로
  const nodeList = data.nodeList;// // 방문지목록
  const dr_AREA = [[${dr_AREA}]];
  $("#totalVisit").text(nodeList.length + "곳");
  $("#totalDistance").text((totalDistance / 1000).toFixed(2) + "km");
  $("#totalDuration").text(secondsToHoursMinutes(totalDuration));
  console.log(nodeList);
  let html = '';
  let count = 0;
  var bounds = new kakao.maps.LatLngBounds(); 
  for(const node of nodeList) {
    // 왼쪽에 보이는 목록 
    NODE_MAP[node.node_id] = node;  
    console.log("node = " + node);
    
    
    
    html += ` <!-- 백팁은 일반 html을 쓸수 있듯이 자바스크립트에서 쓸 수 있게 만들어 줌. -->
    
      <a href="javascript:panTo(${node.node_id});"  class="list-group-item list-group-item-action py-3 lh-sm mt-3 border rounded-2">
        <div class="d-flex w-100 align-items-center justify-content-start mb-1">
          <span class="badge text-bg-secondary">${++count}</span><strong class="ms-1">${node.address}</strong>
          <input type="hidden" value="${node.node_id}" id="node_id">
        </div>
        <div class="mt-3 small">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center"><span class="badge text-bg-light border border-secondary-subtle me-2">출발 / 도착</span> 
          ${node.kind == 1 ? '<span style="margin-right: 20px;" >승차지  </span>' : '<span style="margin-right: 20px;" >하차지 </span>'}
         <div class="d-flex align-items-center"><span class="badge text-bg-light border border-secondary-subtle me-2">탑승자</span> <span id="node.m_ID">${node.a_NAME}</span></div>
          </div>
        
            </div>
            <div class="d-flex align-items-center"><span class="badge text-bg-light border border-secondary-subtle me-2">신청자 전화번호</span> <span>${node.m_PHONE}</span></div>
          </div>
        </div>
      </a>
    `;
 
    //노드 하나당 마커를 찍음.
    drawMarker(node, bounds);
  }
  // 경로를 그리기.
  drawPath(totalPathPointList);
 
  //전체의 마커가 잘 보이두록 자동 이동.
  if(nodeList.length > 0) {
    map.setBounds(bounds);
  }
  $("#nodeList").html(html);
  spinOff();
}


function secondsToHoursMinutes(seconds) {
     // 시간으로 변환
     const hours = Math.floor(seconds / 3600);
     // 남은 분 계산
     const minutes = Math.floor((seconds % 3600) / 60);
     // 시간과 분을 "00" 형식으로 변환. 시간이 0일 경우, 시간 표시 생략
     const formattedHours = hours > 0 ? `${hours.toString().padStart(2, '0')}시간 ` : '';
     const formattedMinutes = minutes.toString().padStart(2, '0');
     return `${formattedHours}${formattedMinutes}분`;
   }
   
   
   
    function drawMarker(node, bounds) {
     const position = new kakao.maps.LatLng(node.y, node.x);
     
     bounds.extend(position);
     // 배열의 좌표들이 잘 보이게 마커를 지도에 추가합니다
     const marker = new kakao.maps.Marker({position: position, clickable: true});
    
     const name = node.a_NAME;
     const phone = node.m_PHONE;
     var point = null;
     if(node.kind ==1){
    	 point = "승차지";
     }else{
    	 point = "하차지";
     }
     // 인포윈도우를 생성합니다
     const infowindow = new kakao.maps.InfoWindow({
       content: '<div style="padding:5px;">' + name + '<br/>' + phone + '<br/>' + point + '</div>' ,
       removable: true
     });
    
     MARKER_MAP[node.node_id] = marker; //바깥에서 인식이 가능하도록 전역변수 설정
     INFO_MAP[node.node_id] = infowindow; 
     
     // 마커에 클릭이벤트를 등록합니다
     kakao.maps.event.addListener(marker, 'click', function () {
       infowindow.open(map, marker);
     });
   }



    
    var POLYLINE = null; // 빨간색 선
    var POLYLINE_WHITE = null; // 하얀색 선
    var linePath = [];
    var pathIndex = 0; // 경로를 그리는데 사용될 인덱스
    var delay = 10;

    function drawPath(pathPointList) {
      if (pathPointList.length > 0) {
        linePath = [];
        for (var point of pathPointList) {
          linePath.push(new kakao.maps.LatLng(point.y, point.x));
        }
        // 초기화된 경로로 기존의 선을 제거합니다.
        if (POLYLINE) POLYLINE.setMap(null);
        if (POLYLINE_WHITE) POLYLINE_WHITE.setMap(null);
        pathIndex = 0;
        // 빨간색 선을 그립니다.
        
        drawRedLine();
        
      }
    }

    function drawRedLine() {
      // 빨간색 선을 그립니다.
      POLYLINE = new kakao.maps.Polyline({
        path: linePath,
        strokeWeight: 5, // 선의 두께입니다.
        strokeColor: '#3F7EFC', // 선의 색깔입니다.
        strokeOpacity: 1, // 선의 불투명도입니다.
        strokeStyle: 'solid' // 선의 스타일입니다.
      });
      // 지도에 빨간색 선을 표시합니다.
      POLYLINE.setMap(map);
      // 하얀색 선을 그리기 시작합니다.
      drawWhiteLine();
    }

    function drawWhiteLine() {
      // 출발좌표와 마지막출발좌표를 가져옵니다.
      var startIndex = pathIndex;
      var endIndex = Math.min(pathIndex + 5, linePath.length);
      var segment = linePath.slice(startIndex, endIndex);
      // 이전에 그렸던 하얀색 선이 있다면 삭제합니다.
      if (POLYLINE_WHITE) POLYLINE_WHITE.setMap(null);
      // 하얀색 선을 그립니다.
      POLYLINE_WHITE = new kakao.maps.Polyline({
        path: segment,
        strokeWeight: 3, // 선의 두께입니다.
        strokeColor: '#FFFFFF', // 선의 색깔입니다.
        strokeOpacity: 1, // 선의 불투명도입니다.
        strokeStyle: 'solid' // 선의 스타일입니다.
      });
      // 지도에 하얀색 선을 표시합니다.
      POLYLINE_WHITE.setMap(map);
      // 인덱스를 증가시킵니다.
      pathIndex += 1;
      // 만약 경로가 남아있다면 재귀적으로 다음 선을 그리거나, 최초지점으로 돌아갑니다.
      if (endIndex < linePath.length) {
        setTimeout(drawWhiteLine, 10);
        
      } else {
        // 모든 선을 그렸으면 최초지점으로 돌아갑니다.
        setTimeout(function() {
          pathIndex = 0;
          drawWhiteLine();
        }, 1000);
      }
    }
    
    
    

    //지도의 중심을 이동싴미는 기능
    function panTo(nodeId) {
       clearInfoWindow();
       const node = NODE_MAP[nodeId];
       INFO_MAP[nodeId].open(map, MARKER_MAP[nodeId]);
       // 이동할 위도 경도 위치를 생성합니다
       var moveLatLon = new kakao.maps.LatLng(node.y, node.x);
       // 지도 중심을 부드럽게 이동시킵니다
       // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
       map.panTo(moveLatLon);
     }

     function clearInfoWindow() {
       for(const nodeId in INFO_MAP) {
         INFO_MAP[nodeId].close();
       }
     }

   



     
     function goVrp() {
        
       spinOn();
          $.ajax({
              url: '/vrp',
              type: 'post', // 관련정보들이 주소창에 나올 이유는 없으니 post로 돌림.
              contentType: "application/json", //data(body)에 json 을 담으려면 둘이 셑트임(data,contenType)
              data: 
            	  JSON.stringify(Object.values(NODE_MAP)), // 컨트롤러에서 받은 data값이 JOSN 형식으로 Ajox 돌림.
              success: function (result) { // 에러코드 200일땐 성공
                  if (result.code != 'SUCC') {
                      alert("경로 최적화에 실패 하였습니다.");
                      spinOff();
                      return;
                  }
                  const data = result.data;
                  displayData(data);
                      console.log("AJAX NODE_MAP = " + NODE_MAP);
                  
              },
              error: function () { // 에러코드가 200이 아닌 경우.
                  spinOff();
                  alert("경로 최적화에 실패 하였습니다.");
              }
          });
          
  
      }
     
  
      
      

</script>

</body>
</html>