<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=62f907aab02429790c946754b7fe07e2"></script>
  <div id="map" style="width:100%;height:500px;"></div>
<h2>DB입력 및 list 출력</h2>
  <h4>DB 넣을 출발지 좌표</h4>
    <form action="insertProc" method="post">
  <input type="text" name="fromAddress" placeholder="승차지" required="required">
    <!--   <input type="text" name="toAddress" placeholder="목적지" required="required">-->
   
     <select name="kind" required="required">
    <option value="" disabled selected hidden>출발/도착 선택</option>
    <option value="1">출발지</option>
    <option value="2">도착지</option>
    <!-- 원하는 출발지 옵션을 추가하세요 -->
  </select>
  <button type="submit" >출발,목적지 저장</button>
   </form>
   
   
   
  <h4>DB 넣을 목적지 좌표</h4>
  
  
  <!-- <form action="insertProc" method="post">
   하차지 : <input type="text" >
   <input type="hidden" name = "star" value="하차지" >
   <input type="hidden" name = "x" value="y"><input type="hidden" name = "y" value="y">
    <button type="submit" >하차지 주소 확인</button>
  </form> -->
</body>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    var fromPointX = document.getElementById("fromPointX").innerText;
    var fromPointY = document.getElementById("fromPointY").innerText;
    var toPointX = document.getElementById("toPointX").innerText;
    var toPointY = document.getElementById("toPointY").innerText;
    console.log("fromPointX = " + fromPointX);
    console.log("fromPointY = " + fromPointX);
    console.log("toPointX = " + fromPointX);
    console.log("toPointY = " + fromPointX);
    var positions = [
        
        {
          title : '출발지',
            latlng: new kakao.maps.LatLng(fromPointY, fromPointX)
        },
        {
           title : '목적지',
            latlng: new kakao.maps.LatLng(toPointY, toPointX)
        }
        
    ]
    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
    for (var i = 0; i < positions.length; i ++) {
        
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
    }
    </script>
</html>