<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
     <th:block th:insert="~{fragments::header}" />
</head>
<body>
    <header>
        <!-- 헤더 내용 -->
    </header>
    <section>
        <div class="content">
            <form class="login-form" th:action="@{/pwdChangeProc}" method="post">
                <h2 class="login-header">비밀번호 변경</h2>
                <input type="hidden" id="userName" name="userName"/>
                <input type="password" class="login-input" name="password" placeholder="비밀번호">
                <button type="submit" class="login-btn" id="sbtn">변경</button>
            </form>
        </div>
    </section>
    <th:block th:insert="~{fragments::footer}" />
</body>

<script th:inline="javascript">

$(document).ready(function() {
	  var url = window.location.href;
	    var email = url.match(/pwdChange\?(.+)/)[1];

	   $('#userName').val(email);
	   
		var test = $('#userName').val();

    console.log(test);
   
});
</script>
</html>